name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  upload-assets:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: Setup FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.3.0
        with:
          version: "7.3.43"
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: fdbexporter
          tar: unix
          zip: windows
          token: ${{ secrets.GITHUB_TOKEN }}
          include: README.md,LICENSE
